// Main Blue: #0b69ff
// Button Hover: #0058E3
// Button Active: #0055DC
// Button Focus Border: #B5B7C4
// Navy Blue: #171f46
// Body Grey: #7e858e
// Border Grey: #d7dfe9
// Border Grey Hover: #acb2ba

// Accessibility Checklist

// GF Contrast Ratio
// Keto Contrast Ratio
// Pescatarian Contrast Ratio
// Dairy Contrast Ratio
// Shellfish Contrast Ratio
// Soy Contrast Ratio
// Peanut Constrast Ratio
// Sesame Contrast Ratio

// Links open to new tab

// Percentage-Based Padding/Margin where relevant
// Compress PNGs
// Replace the external link after elements with unicode and make the font-family: FontAwesome, etc. – link the font in the head

// Add :valid and :invalid styling to inputs
// Make sure everything has a :focus state
// Submit answers on 'enter' key
// Transition changes?
// Convert divs to lists
// Add more to hover state of recipe cards
// Change stacking order of next and back buttons on mobile
// No results page!



html {
    font-size: 62.5%;
    font-family: 'Rubik', Arial, 'Helvetica Neue', Helvetica, sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h2,
h3 {
    font-weight: 400;
    font-size: 2.4rem;
    letter-spacing: 0.02rem;
    line-height: 1.25;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    max-width: 1680px;
    width: 90%;
    margin: 0 auto;
}

.button {
    background-color: #0b69ff;
    cursor: pointer;
    color: #fff;
    width: calc(200px + 6vw);
    max-width: 340px;
    height: 60px;
    font-family: 'Rubik', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: calc(1.5rem + 0.3vw);
    font-weight: 500;
    letter-spacing: 0.065rem;
    line-height: 1.4;
    border: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

@media (min-width: 1680px) {
    .button {
        font-size: 2rem;
    }
}

.button:hover {
    background: #0058E3;
    transition: background-color 250ms ease;
    -webkit-transition: background-color 250ms ease;
    -moz-transition: background-color 250ms ease;
    -ms-transition: background-color 250ms ease;
    -o-transition: background-color 250ms ease;
}

.button:active {
    background: #0055DC;
}

.button:focus {
    border: #B5B7C4 3px solid;
}

.main-header {
    font-family: 'Rubik', Arial, 'Helvetica Neue', Helvetica, sans-serif;    
    color: #171f46;
    font-size: calc(1.6rem + 1.2vw);
    font-weight: 400;
    letter-spacing: 0.02rem;
    line-height: 1.25;
}

@media (min-width: 1680px) {
    .main-header {
        font-size: 3.6rem;
    }
}

.main-header--margin {
    margin-bottom: 24px;
}

@media (max-width: 1116px) {
    .main-header--margin {
        text-align: center;
    }
}

.main-header--checkbox,
.main-header--radio,
.main-header--recipe {
    font-family: 'Rubik', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 500;
    font-size: calc(1.5rem + 0.5vw);
    letter-spacing: 0.05rem;
    line-height: 1.4;
}

.main-header--recipe {
    margin-bottom: 20px;
}

@media (min-width: 1680px) {
    .main-header--checkbox,
    .main-header--radio {
        font-size: 2.4rem;
    }
}

.results-section {
    // height: 100vh;
    padding-top: 120px;
    padding-bottom: 4%;
    display: none;
}

@media (max-width: 888px) {
    .results-section {
    padding-bottom: 8%;
    }
}

.quiz-section {
    height: 100vh;
    display: flex;
}

.results-section__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    text-align: left;
    height: auto;
    width: 100%;
    // padding-bottom: 60px;
    // height: 100%;
}

.quiz-section__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.form__stage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    // Get rid of later
    // width: 100%;
}

@media (max-width: 1116px) {
    .form__stage {
        padding-top: 80px;
    }
}

@media (max-width: 768px) {
    .form__stage {
        padding-top: 60px;
    }
}

.form__stage--step-one {
    text-align: center;
    height: 260px;
    justify-content: space-between;
    padding-top: 0;

}

.form__stage--step-two,
.form__stage--step-three,
.form__stage--step-four {
    text-align: left;
    padding-top: 120px;
    height: auto;
    width:100%;
    padding-bottom: 60px;
    display: none;
}

.stage__description {
    width: 100%;
    margin-bottom: 63px;
}

.stage__description--results {
    margin-bottom: 33px;
}

.main-paragraph,
.daily-calories__select {
    // font-size: 2rem;
    font-size: calc(1.5rem + 0.3vw);
    font-family: 'Rubik', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    letter-spacing: 0.035rem;
    line-height: 1.4;
    font-weight: 400;
    color: #7e858e;
    width: 55%;
}

@media (min-width: 1680px) {
    .main-paragraph {
        font-size: 2rem;
    }
}

@media (max-width: 940px) {
    .main-paragraph {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .main-paragraph {
        width: 100%;
    }
}

@media (max-width: 1116px) {
    .main-paragraph--quiz {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
}

@media (max-width: 560px) {
    .main-paragraph--quiz {
        width: 100%;
    }
}

.main-paragraph--checkbox,
.main-paragraph--radio {
    position: absolute;
    width: auto;
    top: 68px;
    left: 100px;
    z-index: -1;
    padding-right: 20px;
}

@media (max-width: 548px) {
    .main-paragraph--checkbox,
    .main-paragraph--radio {
        top: 54px;
    }
}

.stage__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    // Get rid of height
    // height: 100%;
    // Get rid of after
    width: 100%;
}

.stage__container--step-four {
    flex-direction: column;
}

.checkbox-pair,
.radio-pair {
    width: calc(50% - 40px);
    min-width: 420px;
    margin-bottom: 20px;
    height: 136px;
    position: relative;
}

.checkbox-pair:nth-of-type(2n + 1),
.radio-paid:nth-of-type(2n + 1) {
    margin-right: 40px;
}

.checkbox-pair--intolerance {
    min-width: 220px;
    width: calc(25% - 50px);
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 14px;
}

.checkbox-pair--intolerance:nth-of-type(4n) {
    margin-right: 0;
}

@media (max-width: 1128px) {
    .checkbox-pair--intolerance {
        min-width: auto;
        width: calc(50% - 30px);
        margin-right: 30px;
        margin-bottom: 50px;
    }

    .checkbox-pair--intolerance:nth-of-type(even) {
        margin-right: 0;
    }

    .checkbox-pair--intolerance:nth-of-type(n + 7) {
        margin-bottom: 0;
    }
}

@media (max-width: 984px) {
    .checkbox-pair,
    .radio-pair {
        width: 100%;
        min-width: auto;
    }

    .checkbox-pair:nth-of-type(2n + 1),
    .radio-pair:nth-of-type(2n + 1) {
    margin-right: 0;
    }

    .checkbox-pair--intolerance {
        width: calc(50% - 30px);
    }

}

@media (max-width: 768px) {
    .checkbox-pair--intolerance,
    .checkbox-pair--intolerance:nth-of-type(n + 7) {
        width: 100%;
        margin-bottom: -8px;
    }
}

input[type="checkbox"],
input[type="radio"] {
    opacity: 0;
    position: absolute;
}

.checkbox-button,
.radio-button {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-left: 100px;
    padding-top: 32px;
}

.checkbox-button:before,
.checkbox-button:after,
.radio-button:before,
.radio-button:after {
    position: absolute;
    left: 0;
    bottom: 0;
}

.checkbox-button:before,
.radio-button:before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border: 2px solid #d7dfe9;
    cursor: pointer;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
}

.checkbox-button--gluten-free:before {
    background: url('../assets/gluten-free--no-state.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 22px 33px;   
}

.checkbox-button--ketogenic:before {
    background: url('../assets/ketogenic--no-state.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 22px 33px;
}

.checkbox-button--vegetarian:before {
    background: url('../assets/vegetarian--no-state.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 22px 33px;
}

.checkbox-button--pescatarian:before {
    background: url('../assets/pescatarian--no-state.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 22px 33px;
}

.checkbox-button--vegan:before {
    background: url('../assets/vegan--no-state.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 22px 33px;
}

.checkbox-button--paleo:before {
    background: url('../assets/paleo--no-state.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 22px 33px;
}

.checkbox-button:after,
.radio-button:after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.checkbox-button:hover:before,
.radio-button:hover:before {
    border: 2px solid #acb2ba;
}

.checkbox-pair:focus-within > .checkbox-button:before,
.radio-pair:focus-within > .radio-button:before {
    border: 2px solid #acb2ba;
}

.checkbox-pair input[type="checkbox"]:checked + .checkbox-button--gluten-free:before {
    content: '';
    border: 2px solid #acb2ba;
    background: url('../assets/gluten-free--selected.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 22px 33px;
}

.checkbox-pair input[type="checkbox"]:checked + .checkbox-button--ketogenic:before {
    content: '';
    border: 2px solid #acb2ba;
    background: url('../assets/ketogenic--selected.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 22px 33px;
}

.checkbox-pair input[type="checkbox"]:checked + .checkbox-button--vegetarian:before {
    content: '';
    border: 2px solid #acb2ba;
    background: url('../assets/vegetarian--selected.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 22px 33px;
}

.checkbox-pair input[type="checkbox"]:checked + .checkbox-button--pescatarian:before {
    content: '';
    border: 2px solid #acb2ba;
    background: url('../assets/pescatarian--selected.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 22px 33px;
}

.checkbox-pair input[type="checkbox"]:checked + .checkbox-button--vegan:before {
    content: '';
    border: 2px solid #acb2ba;
    background: url('../assets/vegan--selected.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 22px 33px;
}

.checkbox-pair input[type="checkbox"]:checked + .checkbox-button--paleo:before {
    content: '';
    border: 2px solid #acb2ba;
    background: url('../assets/paleo--selected.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 22px 33px;
}

.stage__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    width: 100%;
}

@media (max-width: 585px) {
    .stage__buttons {
        flex-direction: column;
    }

    .stage__buttons .button--form-nav:first-child {
        margin-bottom: 20px;
    }
    
    .button--form-nav {
        max-width: none;
        width: 100%;
    }
}

.checkbox-button--secondary {
    padding-left: 75px;
    padding-top: 35px;
}

.checkbox-button--secondary:hover:before {
    border: 2px solid #171f46;
}

.checkbox-button--secondary:before {
    background: url('../assets/add--no-state.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 24px 34px;
}

.checkbox-pair--intolerance:focus-within > .checkbox-button--secondary:before {
    border: 2px solid rgba(126, 133, 142, 0.6);
}

.checkbox-pair--intolerance input[type="checkbox"]:checked + .checkbox-button--secondary:before {
    content: '';
    border: 2px solid #171f46;
    background: url('../assets/check--selected.png') rgba(215, 223, 233, 0.24);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 24px 34px;
}

@media (max-width: 1128px) {
    .checkbox-button--secondary {
        padding-top: 37px;
    }
}

@media (max-width: 768px) {
    .checkbox-button--secondary {
        padding-top: 38px;
    }
}

@media (max-width: 480px) {
    .checkbox-button--secondary {
        padding-left: 75px;
        padding-top: 40px;
    }
}

.duration__container {
    display: flex;
    visibility: hidden;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    // Get rid of height
    // height: 100%;

    // Get rid of after
    width: 100%;
}

.daily-calories__select {
    color: #171f46;
    line-height: 1.4rem;
    appearance: none;
    padding: 10px 20px;
    width: 47.2%;
    min-width: 420px;
    margin-right: 40px;
    margin-bottom: 55px;
    height: 58px;
    border: 2px solid #7e858e;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-image: url('../assets/chevron-down--solid.png');
    background-repeat: no-repeat;
    background-position: 96% center;
    background-size: calc(1.8rem + 0.3vw);
}

@media (min-width: 1680px) {
    .daily-calories__select {
        font-size: 1.8rem;
        background-size: 1.8rem;
    }
}

@media (max-width: 1116px) {
    .daily-calories__select {
        width: 100%;
        min-width: auto;
        margin-right: 0;
    }
}

.radio-button--day:before {
    background: url('../assets/day--no-state.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 22px 33px;
}

.radio-button--week:before {
    background: url('../assets/week--no-state.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 22px 33px;
}

.radio-pair input[type="radio"]:checked + .radio-button--day:before {
    content: '';
    border: 2px solid #acb2ba;
    background: url('../assets/day--selected.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 22px 33px;
}

.radio-pair input[type="radio"]:checked + .radio-button--week:before {
    content: '';
    border: 2px solid #acb2ba;
    background: url('../assets/week--selected.png');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 22px 33px;
}

.results-section__filter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // height: 100px;
}

.filter__active {
    font-size: calc(0.8rem + 0.12vw);
    width: calc(100px + 1.15vw);
    font-family: 'Rubik', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 500;
    color: #fff;
    height: 28px;
    margin-right: 25px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 2.65rem;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
    border-radius: 20%/70%;
    -webkit-border-radius: 20%/100%;
    -moz-border-radius: 20%/70%;
    -ms-border-radius: 20%/70%;
    -o-border-radius: 20%/70%;
}

@media (min-width: 1680px) {
    .filter__active {
        font-size: 1rem;
        width: 120px;
    }
}

.filter__active--gluten-free {
    background-color: #00b2caff;
}

.filter__active--ketogenic {
    background-color: #ca9f00ff;
}

.filter__active--vegetarian {
    background-color: #4d00caff;
}

.filter__active--pescatarian {
    background-color: #d98304ff;
}

.filter__active--vegan {
    background-color: #0051caff;
}

.filter__active--paleo {
    background-color: #f13838ff;
}

.filter__active--dairy {
    background-color: #d7fcd4ff;
}

.filter__active--shellfish {
    background-color: #fcf300ff;
}

.filter__active--soy {
    background-color: #44af69ff;
}

.filter__active--tree-nuts {
    background-color: #26547cff;
}

.filter__active--peanut {
    background-color: #b9d6f2ff;
}

.filter__active--sesame {
    background-color: #06d6a0ff;
}

.filter__active--egg {
    background-color: #36494eff;
}

.filter__active--seafood {
    background-color: #f72585ff;
}

.results-section__recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // align-content: stretch;
    width: 100%;
    padding-top: 60px;
}

.recipes__recipe-card {
    width: calc(100% / 3.5);
    // min-width: 368px;
    border: 2px solid #d7dfe9;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    //height: 400px;
    margin-right: 60px;
    margin-bottom: 60px;
    transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
}

.results-section__recipes .recipes__recipe-card:nth-child(3) {
    margin-right: 0px;
}

.recipes__recipe-card:hover {
    border: 2px solid #acb2ba;
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    box-shadow: 0px 0px 40px 0px rgba(172, 178, 186, 0.3);
}

@media (max-width: 1364px) {
    .results-section__recipes {
        justify-content: flex-start;
    }


    .recipes__recipe-card {
        width: calc(50% - 30px);
    }

    .results-section__recipes .recipes__recipe-card:nth-child(even) {
        margin-right: 0;
    }

}

@media (max-width: 888px) {
    .results-section__recipes {
        justify-content: flex-start;
    }


    .recipes__recipe-card {
        width: 100%;
    }

    .recipes__recipe-card {
        margin-right: 0;
    }

    .results-section__recipes .recipes__recipe-card:nth-last-child(1) {
        margin-bottom: 0px;
    }

}

.recipe-card__image img {
    border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -ms-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.recipe-card__description {
    padding: 10%;
    // padding: 40px;
}

.main-paragraph--recipe {
    width: 100%;
    margin-bottom: 20px;
}

.main-paragraph--external-link {
    width: auto;
    color: #0b69ff;
    position: relative;
    transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
}

.main-paragraph--external-link:hover {
    color: #0058E3;
}

.main-paragraph--external-link:active {
    color: #0055DC;
}


.main-paragraph--external-link:after {
    content: '';
    position: absolute;
    bottom: 4px;
    right: -25px;
    display: inline-block;
    height: 14px;
    width: 14px;
    background: url('../assets/external-link--no-state.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.stage__buttons--results-section {
    justify-content: flex-end;
}

@media (max-width: 888px) {
    .button--start-over {
        width: 100%;
        max-width: none;
    }
}








