// colors
$primary-color: #0b69ff;
$primary-color--hover: #0058E3;
$dark-primary-color: #171f46;

//body grey
$neutral-dark: #7e858e;
// border grey
$neutral-light: #d7dfe9;

// fonts
$font-family: 'Inter', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$letter-spacing--small: 0.02rem;
$letter-spacing--med: 0.035rem;
$letter-spacing--large:  0.05rem;
// fontsizes?


// border styles
$border-color: $neutral-light;
$border-style: 1px solid $border-color;
$border-radius: 8px;