@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h2,
h3 {
  font-weight: 500;
  font-size: 2.4rem;
  letter-spacing: 0.02rem;
  line-height: 1.25;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

fieldset {
  border: none;
  padding: 0;
}

.wrapper {
  max-width: 1680px;
  width: 90%;
  margin: 0 auto;
}

.button {
  background-color: #0b69ff;
  cursor: pointer;
  color: #fff;
  width: 340px;
  height: 60px;
  font-family: 'Inter', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  line-height: 1.4;
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.button:hover {
  background: #0058E3;
  transition: background-color 250ms ease;
  -webkit-transition: background-color 250ms ease;
  -moz-transition: background-color 250ms ease;
  -ms-transition: background-color 250ms ease;
  -o-transition: background-color 250ms ease;
}

.main-header {
  color: #171f46;
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 0.02rem;
  line-height: 1.25;
}

.main-header--checkbox {
  font-family: 'Inter', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  line-height: 1.4;
}

.quiz-section {
  height: 100vh;
}

.quiz-section__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.form__stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__stage--center-align {
  text-align: center;
  width: 50%;
  height: 260px;
}

.form__stage--left-align {
  text-align: left;
}

.main-paragraph--left-align {
  width: 60%;
}

.stage__description {
  margin-bottom: 60px;
}

.main-paragraph {
  font-size: 2rem;
  letter-spacing: 0.035rem;
  line-height: 1.4;
  color: #7e858e;
}

.main-paragraph--checkbox {
  position: absolute;
  top: 70px;
  left: 100px;
  z-index: -1;
}

.stage__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.checkbox-pair {
  width: 48%;
  height: 136px;
  margin-bottom: 2%;
  position: relative;
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.checkbox-button {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-left: 100px;
  padding-top: 30px;
}

.checkbox-button:before,
.checkbox-button:after {
  position: absolute;
  left: 0;
  bottom: 0;
}

.checkbox-button:before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border: 2px solid #d7dfe9;
  background: url("../assets/icon-placeholder.png");
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: 22px 33px;
  cursor: pointer;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.checkbox-button:after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: background-color 250ms ease;
  -webkit-transition: background-color 250ms ease;
  -moz-transition: background-color 250ms ease;
  -ms-transition: background-color 250ms ease;
  -o-transition: background-color 250ms ease;
}

.checkbox-button:hover:after {
  background: rgba(215, 223, 233, 0.4);
}

.checkbox-pair input[type="checkbox"]:checked + .checkbox-button:after {
  content: '';
  background: rgba(215, 223, 233, 0.4);
  height: 100%;
  width: 100%;
}

.stage__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
  width: 100%;
}

.button--form-nav {
  width: 240px;
  height: 60px;
  font-size: 1.8rem;
}

html {
  font-size: 62.5%;
  font-family: "Inter", Arial, "Helvetica Neue", Helvetica, sans-serif, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2,
h3 {
  font-weight: 500;
  font-size: 2.4rem;
  letter-spacing: 0.02rem;
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: #0b69ff;
  font-weight: 700;
}

.food-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.food-cards a::after {
  content: "→";
  padding-left: 8px;
}

.food-card {
  max-width: 302px;
  width: 33vw;
  border-radius: 8px;
  border: 1px solid #d7dfe9;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.food-card-image img {
  border-radius: 7px 7px 0 0;
  width: 100%;
}

.food-card-text {
  margin: 22px;
}
